*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}
/* Dice */
.dice-center{
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}   
.dice-center p{
    color: #fff;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 2rem;
    padding: .5rem;
}
.dice{
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgb(7, 168, 7);
    border-radius: 9px;
    padding: 2rem 3rem;
    width: 40rem;
}
.diceButton button{
    font-size: 2rem;
    padding: .5rem 1.5rem;
    background: teal;
    border-radius: 1rem;
    outline: none;
    transition: all .5s ease;
    cursor: pointer;
    color: #fff;
}
.diceButton button:hover{
    opacity: 0.8;
}
.die{
    color: #fff;
    font-size: 5rem;
    padding: 2rem;
}
.green{
    color: green !important;
}
.red{
    color: salmon !important;
}

.rot{
    animation-name: shake;
    animation-duration: 1s;
    transition: all 1s ease;
}
@keyframes shake{
    from{
        transform: rotate(360deg) scale(0.6);
    }
    to{
        transform: rotate(0) scale(1);
    }
}

.newDice-center{
    display: none;
}
/* End of dice */